Repository cisagov/skeleton-tf-module, pull requests merged in 2021-08, with the labels that each got.

#55 Fix typo in README.md
  README.md
Labels: bug, documentation, blocked

#57 Support Terraform 0.13
  .github/workflows/build.yml
  .pre-commit-config.yaml
  README.md
  examples/basic_usage/README.md
  examples/basic_usage/versions.tf
  versions.tf
Labels: breaking change, improvement

#58 Make versions.tf files consistent
  examples/basic_usage/README.md
  examples/basic_usage/versions.tf
Labels: documentation
